.body{
    display: flex;
    height: 100vh;
    font-family: 'Nunito', sans-serif;
}
.main{
    background-color: rgb(164, 164, 236);
    width: 70vw;
}
.side{
    background-color:  #06134c ;
    width: 30vw;
    color:white
}
.money{
    
    list-style: none;
    margin: 10px 20px 10px 20px;
    padding: 20px;
    text-align: center;
    border-radius: 50px;
    font-size: 15px
}
.money.active{
    background-color: teal;
    border: 1px solid white;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.que{
    background-color: #06134c;
    color: white;
    border: 1px solid white;
    width: 90%;
    padding: 30px;
    border-radius: 50px;
    text-align: center;
}
.ans{
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
}
.ans li{
    border-radius: 50px;
    margin: 20px 5px;
    padding: 20px;
    
    width:500px;
    list-style: none;
}
.option{
    background-color: #06134c;
    color: white;
}
.option.correct{
    background-color: green;
}
.option.wrong{
    background-color: red;
}
